

<!-- This include page generates from _data/events.yml  and styled by _sass/includes/_events.scss-->
<div class="outer_eventscontainer">


{% for event in site.data.events.events %}
<div class="inner_eventcontainer">
    <div class="eventimage">
        {% if event.image %}
           
            <img src="{{ event.image | relative_url }}" alt="Image of {{ event.name }}">

        {% else %}
  
    
        {% endif %}
        <div class="eventdate">
            {{ event.date }} <br> {{ event.location}}
        </div>

    </div>
    <div class="eventdata">
        <h2> {{ event.name }}</h2>
        {% if event.tag %}
        <ul class="tag-list">

        {% assign event-tags = event.tag | sort %}

        {% for tag in event-tags %}
            <li class="tag-list">{{ tag | downcase }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <p> {{ event.description }}</p>
        {% if event.collaborators %}
        <ul class="colab-list">
            
            {% assign event_colabs = event.collaborators | sort: "name" %}

            {% for colab in event_colabs %}
                <li class="colab-list">
                    <a href="{{ colab.url }}">{{ colab.name }}</a>
                </li>

            {% endfor %}
        </ul>
        {% endif %}

    </div>
</div>












{% endfor %}
</div>