{% assign _url = page.url | split: "/" %}
{% assign current = _url[-1] | split: "." %}
<header>
 
  <nav>
    <ul >
      <li style="vertical-align: middle; text-align: left;">  <img src="{{ 'assets/img/IS-GEO-3c.svg' | relative_url }}" width="150"> </li>
      {% case current[0] %}
      <!-- tags 
      {% when 'tags'%}
     
      <a href="{{ site.url }}">
        <li class="btn-nav">Home</li>
      </a>
      <li class="current">Tags</li>
      <a href="{{ site.url }}/resources">
        <li class="btn-nav">Resources</li>
      </a>
      <a href="{{ site.url }}/events">
        <li class="btn-nav">Events</li>
      </a>
      -->
      
      
      <!-- Resources -->
      {% when 'resources'%}
      <a href="{{ site.url }}">
        <li class="btn-nav">Home</li>
      </a>
   
      <a href="{{ site.url }}/resources">
        <li class="current btn-nav">Resources</li>
      </a>
      <a href="{{ site.url }}/events">
        <li class="btn-nav">Events</li>
      </a>
     
      <!-- Events -->
      {% when 'events'%}
      <a href="{{ site.url }}">
        <li class="btn-nav">Home</li>
      </a>
  
      <a href="{{ site.url }}/resources">
        <li class="btn-nav">Resources</li>
        </a>
        <a href="{{ site.url }}/events">
          <li class="current btn-nav">Events</li>
      </a>

      {% else %}
      
      <!-- others -->
      <a href="{{ site.url }}">
        <li class="current btn-nav">Home</li>
      </a>

      <a href="{{ site.url }}/resources">
        <li class="btn-nav">Resources</li>

        <a href="{{ site.url }}/events">
          <li class="btn-nav">Events</li>
        </a>
      </a>
     
      {% endcase %}
    </ul>
  </nav>
</header>