---
layout: page

---
{% assign profile = site.theme_settings.profile %}

</div><!-- This Tag means End .container  style="background-image: url('{{ site.url }}/assets/img/boulderfalls.JPG');" -->
<div id="protfolio" >
 

    <div style="text-align: center;">

      <img src="{{ 'assets/img/ISGEO-Header.png' | relative_url }}" >
      
    </div>
 <!--
    <div class="row"  >
      <div>
        
        {% if profile.headerimage %}
        <div class="img" >
          <img src="{{ site.baseurl }}/{{ profile.headerimage }}" alt="logo" style="background-color: rgba(255, 255, 255, 0.8); width: 70%; float: left; border-radius: 8px">
        </div>

        {% else %}
        <div class="img">
          <img src="{{ site.baseurl }}/{{ profile.image }}" alt="user_image">
        </div>
        {% endif %}
      </div>
      <div class="text-wrap col-12 col-md-8">
        <h2 class="username">{{ profile.username }}</h2>
        <p class="description">{{ profile.description }}</p>

        <ul id="icons">
          {% include icons.html %}
        </ul>
      </div>
    </div>
    <div class="bg"></div>
    -->

  <!-- career section -->
  <section id="career" class="row">
    
    <article class="exper col-12 col-md-6">
      <ul id="icons">
        {% include icons.html %}
      </ul>
      <p class="title">PAST EVENTS</p>
      <ul class="exper-list">
        {% for event in site.data.events.events %}
        {% if event.experience %}
        <li class="meta">
          <p class="date">{{ event.date }}</p>
          <p class="description"><a href="{{ event.url }} ">  {{ event.experience.experience }} </a> 
          <br>
            <em>{{ event.location}}</em> 
        </p>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </article>
    <article class="skills col-12 col-md-6">
      <p class="title">WORKGROUPS</p>
      <ul class="skill-list">
        {% for _ in profile.skills %}
        <li class="skill">
          <p class="name">{{ _.skill }}</p>
          <div class="progress">
            <div class="progress-bar" style="width: {{ _.value }}%">
              <div class="progress-value">{{ _.value }}%</div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>

      <p class="title">IS-GEO EXPERT SERIES</p>
      <ul class="skill-list">
        {% for lecture in site.data.expert-series.lectures %}
        <li class="skill">
          <p> <em>[ {{ lecture.date }} ]</em> <br>  {{ lecture.name }} </p>
          <p class="name">SPEAKER: {{ lecture.speaker }}
            {% if lecture.affiliation %}
              {% for aff in lecture.affiliation %}
                  {% if aff.title %}
                    <em> [ {{ aff.title }} ]</em> 
                  {% endif %}
                  - {{ aff.name }} <br>
              {% endfor %}


            {% endif %}


          </p>
          
          
        </li>
        {% endfor %}
      </ul>
    </article>

   

  </section>

  {% include projects.html %}
</div>
{% include footer.html %}